.header
{
    background-color: lightseagreen;
    border-radius: 5px;
  margin-top: 0px;
    color: white;
    text-align: center;
    border: 1px solid green;    
}
h1{
    margin-top: 0px;
}
.header nav{
    line-height: 40px ;
    font-size: 20px;
    background-color: rgb(40, 150, 146);
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    }
nav a:hover{
    background-color:rgb(13, 110, 106);
}
